* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
配色
#999EA2
#93939B
#ccD2cc
#DBD2C9
#976666
#C09D9B
#BEBEBE
#7A848D
#A9B7AA
#DBD4C6
*/

/* 整个页面 */
.container {
    width: auto;
    padding: 10px;
    background-color: #BEBEBE;
    display: flex;
    gap: 30px; /*间距*/
    border-radius: 8px; /*边框圆角半径*/
}

/*左侧标题列表*/
.leftTitleList {
    width: 20%;
    display: flex;
    flex-direction: column; /*水平布局*/
    gap: 10px; /*间距*/
    justify-content: flex-start; /* 向上对齐 */
    align-items: flex-end; /* 向右 */
}

/*右侧正文*/
.rightContent {
    width: 60%;
    background-color: #A9B7AA;
}

/*左侧标题*/
.titleItem {
    width: 256px;
    height: 64px;
    background-color: #DBD2C9;
    text-align: center; /*文字居中*/
    border-radius: 8px; /*边框圆角半径*/
}